export(getWords, getStopwords, checkSpelling, cleanReferences, combineWords, extractTags, filterArticles, groupReferences, proximityWords, removePunctuation, removeWords, removeWordEndings, splitWords, toLowercase)

import(stringdist)
